
.upper {
    background-color: rgba(22, 13, 14);
    color: rgba(253, 255, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 3vw;
    padding-bottom: 3vw;
    /* border: .5px solid red; */
}

.infocaption{
    font-size: 1.3em;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    letter-spacing: 0.15vw;
    color: rgb(96, 97, 96);
}

.extrainfo{
    font-size: 1em;
    color: rgb(211, 214, 209);
    letter-spacing: 0.05vw;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}


.row1{
    flex-basis: 33%;
    align-self: center;
    text-align: left;
    /* border: .5px solid red; */
}
.row2{
    flex-basis: 30%;
    align-self: center;
    /* border: .5px solid red; */
}
.row3{
    flex-basis: 33%;
    align-self: center;
    text-align: left;
    /* border: .5px solid red; */
}

.footer {
    background-color: rgba(22, 13, 14);
    color: rgba(253, 255, 252);
    height: 1vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    padding-top: 2vw;
    /* border: .5px solid red; */
  }

.footerbox {
    display: flex;
    width: 33%;
    /* border: 3px solid red; */
    flex-direction: row;
    font-size: .7em;
}

.rtl {
    /* direction: rtl; */
    width: 33%;
    align-items: center;
    text-align: left;
}


@media (max-width: 768px) {
    
    .infocaption{
        font-size: 0.9em;
        /* border: .5px solid red; */
    }

    .extrainfo{
        font-size: 0.8em;
        color: rgb(211, 214, 209);
        letter-spacing: 0.05vw;
        font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    }
    .row1{
        flex-basis: 50%;
        align-self: start;
        text-align: left;
        /* border: .5px solid red; */
    }
    .row2{
        flex-basis: 10%;
        align-self: start;
        /* border: .5px solid red; */
    }
    .row3{
        flex-basis: 40%;
        align-self: start;
        text-align: left;
    }

    .footerbox {
        display: flex;
        width: 50%;
        font-size: 0.6em;
        /* border: 3px solid red; */
        flex-direction: row;
    }
    
}

@media (min-device-height: 1200px) {

    .infocaption{
        font-size: 2.5em;
    }
    
    .extrainfo{
        font-size: 1.5em;
    }
    
    .footer {
        height: 0vw;
        padding-top: 0vw;
      }

    .footerbox {
        font-size: .8em;
    }
}